#include <WinUser.h>

#define ICON_1	1
#define CURSOR_10	10
#define CURSOR_9	9
#define CURSOR_8	8
#define CURSOR_7	7
#define CURSOR_6	6
#define CURSOR_5	5
#define CURSOR_4	4
#define DIALOG_3	3
#define CURSOR_1	1
#define WAVE	100
#define DIALOG_2	2
#define DIALOG_1	1
#define ACCELERATORS_1	1
#define MENU_2	2
#define MENU_1	1
#define Exile	1

Exile MENU 
{
 POPUP "&File"
 {
  MENUITEM "&Open Scenario\tCtrl+O", 1
  MENUITEM "&Save Scenario\tCtrl+S", 2
  MENUITEM "New Scenario", 3
  MENUITEM SEPARATOR
  MENUITEM "&Quit\tCtrl+Q", 5
 }

 POPUP "&Scenario"
 {
  MENUITEM "Create New Town", 101
  MENUITEM SEPARATOR
  MENUITEM "Scenario Details", 103
  MENUITEM "Scenario Intro Text", 104
  MENUITEM "Set Starting Location", 105
  MENUITEM "Change Password", 106
  MENUITEM SEPARATOR
  MENUITEM "Advanced:", 107
  MENUITEM "  Edit Special Nodes", 109
  MENUITEM "  Edit Scenario Text", 110
  MENUITEM "  Import Town", 111
  MENUITEM "  Edit Saved Item Rectangles", 112
  MENUITEM "  Edit Horses", 113
  MENUITEM "  Edit Boats", 114
  MENUITEM "  Set Variable Town Entry", 115
  MENUITEM "  Set Scenario Event Timers", 116
  MENUITEM "  Edit Item Placement Shortcuts", 117
  MENUITEM "  Delete Last Town", 118
  MENUITEM "  Write Data To Text File", 119
  MENUITEM "  Do Full Text Dump", 120
 }

 POPUP "&Town"
 {
  MENUITEM "Town Details", 201
  MENUITEM "Town Wandering Monsters", 202
  MENUITEM "Set Town Boundaries", 203
  MENUITEM "Frill Up Terrain", 204
  MENUITEM "Remove Terrain Frills", 205
  MENUITEM "Edit Area Descriptions", 206
  MENUITEM SEPARATOR
  MENUITEM "Add Random Items", 208
  MENUITEM "Set All Items Not Property", 209
  MENUITEM "Clear All Items", 210
  MENUITEM SEPARATOR
  MENUITEM "Advanced:", 212
  MENUITEM "  Edit Special Nodes", 213
  MENUITEM "  Edit Town Text", 214
  MENUITEM "  Advanced Town Details", 215
  MENUITEM "  Set Town Event Timers", 216
 }

 POPUP "&Outdoors"
 {
  MENUITEM "Outdoor Details", 301
  MENUITEM "Outdoor Wandering Monsters", 302
  MENUITEM "Outdoor Special Encounters", 303
  MENUITEM "Frill Up Terrain", 304
  MENUITEM "Remove Terrain Frills", 305
  MENUITEM "Edit Area Descriptions", 306
  MENUITEM SEPARATOR
  MENUITEM "Set Starting Location", 308
  MENUITEM SEPARATOR
  MENUITEM "Advanced:", 310
  MENUITEM "  Edit Special Nodes", 311
  MENUITEM "  Edit Outdoor Text", 312
 }

  POPUP "&Extra Help"
 {
  MENUITEM "Getting Started", 401
  MENUITEM "Testing Your Scenario", 402
  MENUITEM "Distributing Your Scenario", 403
  MENUITEM SEPARATOR
  MENUITEM "Scenario Contest!", 405
 }

POPUP "&I1"
 {
  MENUITEM "Dummy", 600
 }
 POPUP "&I2"
 {
  MENUITEM "Dummy", 601
 }
 POPUP "&I3"
 {
  MENUITEM "Dummy", 602
 }
 POPUP "&I4"
 {
  MENUITEM "Dummy", 603
 }
 POPUP "&I5"
 {
  MENUITEM "Dummy", 604
 }
 POPUP "&I6"
 {
  MENUITEM "Dummy", 605
 }
 POPUP "&I7"
 {
  MENUITEM "Dummy", 606
 }
 POPUP "&I8"
 {
  MENUITEM "Dummy", 607
 }
 POPUP "&M1"
 {
  MENUITEM "Dummy", 608
 }
 POPUP "&M2"
 {
  MENUITEM "Dummy", 609
 }
 POPUP "&M3"
 {
  MENUITEM "Dummy", 610
 }
 POPUP "&M4"
 {
  MENUITEM "Dummy", 611
 }
 POPUP "&M5"
 {
  MENUITEM "Dummy", 612
 }


 POPUP "&Help"
 {
  MENUITEM "Index\tF1", 410
  MENUITEM SEPARATOR
  MENUITEM "About Blades Scenario Editor", 411
 }

}

ACCELERATORS_1 ACCELERATORS 
{
 VK_F1, 410, VIRTKEY
 "^O", 1, ASCII
 "^S", 2, ASCII
 "^Q", 5, ASCII
}

1 WAVE "snd0.wav"
2 WAVE "snd1.wav"
35 WAVE "snd34.wav"
38 WAVE "snd37.wav"
96 WAVE "snd95.wav"

130 CURSOR "130.cur"
131 CURSOR "131.cur"
132 CURSOR "132.cur"
133 CURSOR "133.cur"
134 CURSOR "134.cur"
135 CURSOR "135.cur"
136 CURSOR "136.cur"
137 CURSOR "137.cur"


10 ICON "blscened.ico"

